{% extends 'base.html' %}

{%block head%}
<title>Roelf Project Management Systems</title>
{%endblock%}

{%block body%}
<body id = "dash">
    <div class = "side-menu">
        <div class ="brand-name">
            <h1>Roelf PMS</h1>
        </div>
        <ul>
            <li>Dashboard</li>
            <li>Projects</li>
            <li>Help</li>
            <li><a href ="/logout">Log out</a></li>
        </ul>
    </div>
    <div class = "dashContainer">
        <div class = "dashHead">
            <div class ="nav">
                <div class ="search">
                    <input type ="text" placeholder="Search..">
                    <button type ="submit"><img src ="/static/search.png" alt =""></button>
                </div>
                <div class="user">
                    <a href= "/reg" class = "btn">Add Project</a>
                </div>
                <div class="user">
                    <a href= "/up" class = "btn">Edit Project</a>
                </div>
            </div>
         </div>
         <div class = "dashContent">
             <div class ="cards">
                 <div class = "card">
                     <div class ="dashBox">
                         <h1>2194</h1>
                         <h3>Projects</h3>
                     </div>
                     <div class = "icon-case">
                     </div>
                 </div>
                 <div class ="cards">
                    <div class = "card">
                        <div class ="dashBox">
                            <h1>10</h1>
                            <h3>Overdue Projects</h3>
                        </div>
                        <div class = "icon-case">
                        </div>
                    </div>
                </div>
             </div>
             <div class = "dashContent2">
                 <div class = "recent-payments">
                    <div class = "title">
                        <h2>Recent Payments</h2>
                        <a href ="#" class = "btn">View</a>
                    </div>
                </div>
                </div>
             </div>
 </div>

</body>
    
{%endblock%}
